.content{
    display: flex;
  
 
  
}
.left_content{
    width: 50%;
   
}
.right_content{

    
    margin:50px;
    text-align: center;
}

header{
    background-color: #009788;
    height: 100px;
    }
